:root {
    --clr-primary-blue:hsl(215, 51%, 70%);
    --clr-primary-cyan:hsl(178, 100%, 50%);
    --clr-main-bg:hsl(178, 100%, 50%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr:white:hsl(0, 0%, 100%);
    --ff-sans:font-family: 'Outfit', sans-serif;
}

body {
    font-family:var(--ff-sans);
}